<div class='jumbotron'>
  <%= if !logged_in?(@conn) do %>
    This is a public home page. Please log in to play Familiadex
  <% else %>
    <img src="http://pl.memgenerator.pl/mem-image/i-want-to-play-a-game-pl-ffffff-3">
  <% end %>
</div>
